# Node.js
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Environment variables - IMPORTANT for security
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Solidity 
# These directories are generated during compilation and testing
.deps/
.states/
artifacts/
cache/
build/
remix.log
.remix-project
*.dbg.json

# Next.js (Frontend) specific files
# These directories are generated during development and build
frontend/.next/
frontend/out/

# Python
# Virtual environment
backend/venv/
backend/.venv/

# Byte-compiled / optimized / DLL files
backend/__pycache__/
backend/*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Operating System and Editor Files
# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/

# JetBrains
.idea/
